extends layout

block content
  h1= title
  form(method="POST", action="/api/register")
    label 用户名：
      input(type="text", name="username")
    br
    label 密码：
      input(type="text", name="password")
    br
    input(type="submit", value="注册")
